#Mon, 29 Apr 2013 11:37:52 +0200
app.name=webinosTV

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app,${app.dir}/integration

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=77290ac4-fbbb-47a6-a76b-00764a6f4d15
