#Mon, 29 Apr 2013 11:12:11 +0200
app.name=webinosTV
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app,${app.dir}/integration

app.cmd.version=3.1.1.274

app.build.dir=${workspace.build.dir}/${app.name}
app.id=2dd50bf7-9945-4bbb-b56f-9e7f1b2d816a
